html{
    background-color: mediumpurple;
}

.footer{
    width: 100%;
    background-color:darkgrey;
    color: white;
    text-align: center;
    position: fixed;
    padding: 3px 0;
    bottom: 0;
}